/build/*
/01_init/build/*
/particles/build/*
/03_sprite/build/*
/04_texture_atlas/build/*

!/build/CMakeLists.txt
!/01_init/build/CMakeLists.txt
!/particles/build/CMakeLists.txt
!/03_sprite/build/CMakeLists.txt
!/04_texture_atlas/build/CMakeLists.txt

