/build/*
/01_init/build/*
/02_draw/build/*
/03_skybox/build/*
/04_deferred/build/*
/05_lighting/build/*
/06_animation/build/*
/07_application/build/*
/08_gui/build/*
/09_qt/build/*
/10_3d_basic/build/*
/11_material/build/*
/13_logo/build/*

!/build/CMakeLists.txt
!/01_init/build/CMakeLists.txt
!/02_draw/build/CMakeLists.txt
!/03_skybox/build/CMakeLists.txt
!/04_deferred/build/CMakeLists.txt
!/05_lighting/build/CMakeLists.txt
!/06_animation/build/CMakeLists.txt
!/07_application/build/CMakeLists.txt
!/08_gui/build/CMakeLists.txt
!/09_qt/build/CMakeLists.txt
!/10_3d_basic/build/CMakeLists.txt
!/11_material/build/CMakeLists.txt
!/13_logo/build/CMakeLists.txt







