/build/*
/01_init/build/*
/02_draw/build/*
/03_skybox/build/*
/04_deferred/build/*
/05_lighting/build/*
/06_performance/build/*
/07_shadowmap/build/*
/08_sponza/build/*
/09_reflections/build/*
/10_imgui/build/*
/11_material/build/*
/13_logo/build/*

!/build/CMakeLists.txt
!/01_init/build/CMakeLists.txt
!/02_draw/build/CMakeLists.txt
!/03_skybox/build/CMakeLists.txt
!/04_deferred/build/CMakeLists.txt
!/05_lighting/build/CMakeLists.txt
!/06_performance/build/CMakeLists.txt
!/07_shadowmap/build/CMakeLists.txt
!/08_sponza/build/CMakeLists.txt
!/09_reflections/build/CMakeLists.txt
!/10_imgui/build/CMakeLists.txt
!/11_material/build/CMakeLists.txt
!/13_logo/build/CMakeLists.txt







